<form method="post" action="{{ path('cart_content_delete', {'id': cart_content.id}) }}" onsubmit="return confirm('{{ 'confirmDelete' }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cart_content.id) }}">
    <button class="btn">{{ 'delete'|trans }}</button>
</form>
